
body {
background-color:#cfcfcf;
}


.main {
position:relative;
width:400px;
height:400px;
border: solid 2px #eee;
border-radius:5px;
background-color:#000;
margin:auto;
top:100px;
}

.main div{
width:8px;
height:8px;  
}

.default{
position:relative;
display:inline-block;
border-radius:1px;
background-color:#3b3;
cursor:crosshair;
}
.default:hover{
border-radius:5px;
background-color:#7f7;
}

.wall{
position:relative;
display:inline-block;

border-radius:3px;
background-color:#922;
cursor:crosshair;
}

.cheese{
position:relative;
display:inline-block;
border-radius:3px;
background-color:#ff2;
cursor:crosshair;
}

.rat{
position:relative;
display:inline-block;
border-radius:4px;
background-color:#c9f;
cursor:progress;
}